@use 'variables' as *;

.about {
  padding: 120px 0;
  background: $bg-paper;
  position: relative;
  overflow: hidden;

  .about__inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    position: relative;
    z-index: 1;
  }

  .about__block {
    position: relative;
  }

  .about__intro {
    margin-top: 50px;
    text-align: center;

    .text {
      position: relative;
      z-index: 2;

      h2 {
        font-size: 32px;
        margin-bottom: 16px;
      }

      p {
        font-size: 16px;
        max-width: 720px;
        margin: 0 auto;
        font-weight: 700;
        line-height: 161%;
        letter-spacing: 8.611px;
      }
    }

    .bg-color1 {
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 800px;
      z-index: 1;
    }
  }

  .about__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    .text {
      width: 55%;
      position: relative;
      font-weight: 700;
      line-height: 161%;
      letter-spacing: 8.611px;

      p {
        font-size: 16px;
        max-width: 560px;
        line-height: 1.8;
        left: 0px;
        top: 65px;
        position: relative;
        z-index: 2;
      }

      .bg-shape {
        position: absolute;
        right: 50px;
        top: -50px;
        width: 100%;
        z-index: 1;
      }
    }

    .image {
      width: 60%;

      img {
        margin-top: 90px;
        width: 85%;
        border-radius: 8px;
      }
    }
  }

  .about__illustration {
    position: absolute;
    left: 20px;
    bottom: 405px;
    width: 180px;
    z-index: 2;
  }

  .about__cta {
    position: relative;
    margin-top: 100px;
    text-align: center;
    margin-top: 300px;

    .btn-start {
      width: 300px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        content: url('/img/btn-start-hover.svg');
      }
    }

    .about-bg-side {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 0;

      &--left {
        left: 0;

        img {
          width: 700px;
          height: 370px;
        }
      }

      &--right {
        right: 0;

        img {
          width: 600px;
          height: 300px;
        }
      }
    }
  }

}