@charset "UTF-8";
$font-main: "kurewa-gothic", sans-serif;
$color-bg: #f9f6f0;
$color-dark: #2f2f30;
$color-white: #ffffff;
$bg-paper: url("/img/paperwall.svg");
/* Reset styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: $font-main;
  background: $bg-paper;
  color: $color-dark;
  margin: 0;
  padding: 0;
}

body.lock-scroll {
  overflow: hidden;
}