@use '../scss/layout/variables' as *;
@use'../scss/layout/base';
@use'../scss/plan/btn';
@use'../scss/plan/planPage2';
@use './plan/btn-continue-animation';

body.planning {
  background: url('/img/paperwall.svg') repeat;
  background-size: cover;
  color: #2f2f30;
}

.intro__title {
  text-align: center;
  padding: 60px 20px;
  max-width: 1440px;
  margin: 0 auto;

  h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: -50px;
  }

  p {
    font-size: 30px;
    line-height: 1.8;
    font-weight: 400;
  }
}


.bubble-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  max-width: 1920px;
  padding: 80px 20px;
  margin-bottom: 90px;
  margin-top: 0px;
}

.bubble {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  width: 50%;


  &--left {
    background-image: url('/img/bg-plan1.svg');
    width: 1124px;
    height: 355px;
    bottom: 100px;
    left: 200px;
  }

  &--right {
    background-image: url('/img/bg-plan2.svg');
    width: 805px;
    height: 300px;
    top: 200px;
    right: 100px;
  }

  .bubble__text1 {
    padding: 40px;
    font-size: 24px;
    font-weight: 400;
    line-height: 212%;
    color: #2f2f30;
    max-width: 1190px;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 30px;
  }

  .bubble__text2 {
    padding: 40px;
    font-size: 24px;
    font-weight: 400;
    line-height: 212%;
    color: #2f2f30;
    max-width: 1190px;
    text-align: left;
    margin-left: 200px;
  }
}

.plans__nav {
  display: flex;
  justify-content: center;
  gap: 150px;
  padding: 60px 0;

  .plan-btn img {
    width: 180px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.nav-links {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 86px;

  .nav-link {
    font-size: 30px;
    color: #2f2f30;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: #2f2f30;
    }

    &.active {
      color: #337A99;
      font-weight: 600;
      border-bottom: 2px solid #337A99;
    }
  }
}

.vangogh-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  // padding: 40px 20px;
  gap: 0px;
  margin-left: 750px;
  margin-top: 56px;
  max-width: 1440px;

  .questions {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: left;
    align-items: flex-start;

    label {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 8px;
    }

    .rounded-input {
      width: 300px;
      padding: 10px 16px;
      border: 1px solid #aaa;
      border-radius: 30px;
      font-size: 14px;
      outline: none;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;

      &:focus {
        border-color: #3E5764;
        box-shadow: 0 0 0 1px rgba(62, 87, 100, 0.2);
      }
    }

    .question-block {
      margin-bottom: -15px;

    }

    .checkbox-group {
      display: flex;
      flex-direction: column;
      gap: 5px;

      label {
        font-weight: 400;
        font-size: 20px;
      }
    }
  }

  .vangogh-img {
    flex-shrink: 0;
    width: 364px;
    border-radius: 8px;
    margin-top: 50px;
    align-self: flex-start;
    margin-right: 200px;
  }
}

.character-tip {
  position: absolute;
  left: 40px;
  bottom: -890px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 12px;
  z-index: 10;

  .character-img {
    width: 215px;
    cursor: pointer;
  }

  .tip-popup {
    display: none;
    position: absolute;
    top: 20px;
    left: 230px;
    width: 240px;

    img {
      width: 100%;
    }
  }
}

.character-img:hover+.tip-popup,
.character-tip:hover .tip-popup {
  display: block;
}


.cta {
  position: relative;
  margin-top: 80px;
  text-align: center;

  .btn-container {
    width: 570px;
    height: 355px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-continue {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }

  .cta__bg {
    // display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;

    &--left {
      left: -70px;
    }

    &--right {
      right: -70px;
    }
  }
}