.btn-continue-p2 {
    width: 400px;
    height: auto;
    transition: none;
    display: block;
    object-fit: contain;
    margin: 0 auto;
}

.btn-wrapper,
.btn-container {
    width: 570px;
    height: 355px;
    margin: 0 auto;
    overflow: hidden;
}

.btn-continue {
    width: 570px;
    height: 355px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    pointer-events: auto;
}