

// 導覽列樣式
.nav-links-p2 {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 86px;
  margin-top: 100px;
  margin-bottom: 80px;

  a {
    font-size: 30px;
    color: #2f2f30;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: #2f2f30;
    }

    &.active {
      color: #337A99;
      font-weight: 600;
    }
  }
}

// 四個區塊共通樣式
.block {
  max-width: 1920px;
  margin: 0 auto 80px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 40px 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;



  .content-p2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .q1 {
      margin-bottom: 150px;
      margin-left: 300px;
    }

    .q2 {
      margin-bottom: 50px;
      margin-left: 750px;
    }

    .q3 {
      margin-bottom: 50px;
      margin-left: 650px;
    }

    .question-title {
      font-size: 20px;
      font-weight: 600;

    }

    label {
      display: block;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 12px;
    }

    .rounded-input {
      width: 300px;
      padding: 10px 16px;
      border: 1px solid #aaa;
      border-radius: 30px;
      font-size: 14px;
      outline: none;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;

      &:focus {
        border-color: #3E5764;
        box-shadow: 0 0 0 1px rgba(62, 87, 100, 0.2);
      }
    }

    .rounded-textarea {
      border-radius: 30px;
      border: 1px solid #aaa;
      padding: 16px 20px;
      width: 627px;
      height: 180px;
      font-size: 16px;
      outline: none;
      resize: none;

      &:focus {
        border-color: #3E5764;
        box-shadow: 0 0 0 1px rgba(62, 87, 100, 0.2);
      }
    }
  }
}
  .img-p2 {
    width: 260px;
    flex-shrink: 0;
    margin-left: 500px;
  }

.block--green {
  background-image: url('/img/planPage-bg1.svg');
  left: -200px;
}

.block--blue {
  background-image: url('/img/planPage-bg2.svg');
  justify-content: flex-end;
  width: 100%;
  right: -400px;
  top: -70px;
}

.block--orange {
  background-image: url('/img/planPage-bg3.svg');
  justify-content: flex-start;
  height: 400px;
  left: -400px;
  bottom: 400px;
}

.block--gray {
  background-image: url('/img/planPage-bg4.svg');
  background-position: bottom center;
  justify-content: center;
  margin-top: -400px;

  .btn-wrapper {
    text-align: center;
  }
}

/* 按鈕動畫樣式 */
@import 'btn-continue-animation';